body {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	background-color: #EAEAEA;
	color: #3b345c;
}

a {
	color: #345c4f;
}

#header {
	display: block;
	height: 70px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f7f7f7;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	border-radius: 3px 3px;
}

#logo {
	background-image: url("/presentation/fuppes-icon-48x48.png");
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	width: 48px;
	height: 48px;
}

#wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#mainnav {
	width: 120px;
	float: left;
	background-color: #f7f7f7;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	border-radius: 3px 3px;
}

#content {
	/*width: 820px;*/
	float: right;
	background-color: #f7f7f7;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
	border-radius: 3px 3px;
}


/** configuration */
#dlg-shared-object {
	border: 1px solid black;
	background-color: #ffffff;
	height: 420px;
	width: 500px;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.4);
    z-index: 99;
}

#object-list {
    overflow-y: auto;
    overflow-x: auto;
	height: 300px;
	padding: 5px;
}

